<div class="card form-control">
    <h4 class="subtitulo">Hard & Soft Skills</h4>
    <br>
<div class="row">
    <div id="grafico1" class="col-4" style="display: none;">
        <canvas id="donut-chart1"></canvas>
    </div>    
    <div class="col-2" >
        <div class="btn-group" role="group" aria-label="Horizontal Button Group">
            <button (click)="editar.pre_open_grafico('grafico',datos[1].id, datos[1].titulo, datos[1].etiqueta, datos[1].porcentaje, datos[1].color_Fondo, datos[1].color_Borde)" type="button" class="btn btn-default gra_Edicion" id="gra_Edicion-1" style="display: none;" >
                    <i class="bi bi-pencil" [title]="'Editar los datos'"></i>
            </button>
            <button (click)="borrar.pre_open('grafico',datos[1].id, datos[1].titulo)" type="button" class="btn btn-default gra_Borrado" id="gra_Borrado-1" style="display: none;">
                <i class="bi bi-x-circle" [title]="'Borrar los datos'"></i>
            </button>
        </div>
    </div>

    <div id="grafico2" class="col-4" style="display: none;">
        <canvas id="donut-chart2"></canvas>
    </div>
    <div class="col-2" >
        <div class="btn-group" role="group" aria-label="Horizontal Button Group">
            <button (click)="editar.pre_open_grafico('grafico',datos[2].id, datos[2].titulo, datos[2].etiqueta, datos[2].porcentaje, datos[2].color_Fondo, datos[2].color_Borde)" type="button" class="btn btn-default gra_Edicion" id="gra_Edicion-2" style="display: none;" >
                <i class="bi bi-pencil" [title]="'Editar los datos'"></i>
            </button>
            <button (click)="borrar.pre_open('grafico',datos[2].id, datos[2].titulo)" type="button" class="btn btn-default gra_Borrado" id="gra_Borrado-2" style="display: none;">
                <i class="bi bi-x-circle" [title]="'Borrar los datos'"></i>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div id="grafico3" class="col-4" style="display: none;">
        <canvas id="donut-chart3"></canvas>
    </div>    
    <div class="col-2" >
        <div class="btn-group" role="group" aria-label="Horizontal Button Group">
            <button (click)="editar.pre_open_grafico('grafico',datos[3].id, datos[3].titulo, datos[3].etiqueta, datos[3].porcentaje, datos[3].color_Fondo, datos[3].color_Borde)" type="button" class="btn btn-default gra_Edicion" id="gra_Edicion-3" style="display: none;" >
                    <i class="bi bi-pencil" [title]="'Editar los datos'"></i>
            </button>
            <button (click)="borrar.pre_open('grafico',datos[3].id, datos[3].titulo)" type="button" class="btn btn-default gra_Borrado" id="gra_Borrado-3" style="display: none;">
                <i class="bi bi-x-circle" [title]="'Borrar los datos'"></i>
            </button>
        </div>
    </div>

    <div id="grafico4" class="col-4" style="display: none;">
        <canvas id="donut-chart4"></canvas>
    </div>
    <div class="col-2" >
        <div class="btn-group" role="group" aria-label="Horizontal Button Group">
            <button (click)="editar.pre_open_grafico('grafico',datos[4].id, datos[4].titulo, datos[4].etiqueta, datos[4].porcentaje, datos[4].color_Fondo, datos[4].color_Borde)" type="button" class="btn btn-default gra_Edicion" id="gra_Edicion-4" style="display: none;" >
                <i class="bi bi-pencil" [title]="'Editar los datos'"></i>
            </button>
            <button (click)="borrar.pre_open('grafico',datos[4].id, datos[4].titulo)" type="button" class="btn btn-default gra_Borrado" id="gra_Borrado-4" style="display: none;">
                <i class="bi bi-x-circle" [title]="'Borrar los datos'"></i>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div id="grafico5" class="col-4" style="display: none;">
        <canvas id="donut-chart5"></canvas>
    </div>    
    <div class="col-2" >
        <div class="btn-group" role="group" aria-label="Horizontal Button Group">
            <button (click)="editar.pre_open_grafico('grafico',datos[5].id, datos[5].titulo, datos[5].etiqueta, datos[5].porcentaje, datos[5].color_Fondo, datos[5].color_Borde)" type="button" class="btn btn-default gra_Edicion" id="gra_Edicion-5" style="display: none;" >
                    <i class="bi bi-pencil" [title]="'Editar los datos'"></i>
            </button>
            <button (click)="borrar.pre_open('grafico',datos[5].id, datos[5].titulo)" type="button" class="btn btn-default gra_Borrado" id="gra_Borrado-5" style="display: none;">
                <i class="bi bi-x-circle" [title]="'Borrar los datos'"></i>
            </button>
        </div>
    </div>

    <div id="grafico6" class="col-4" style="display: none;">
        <canvas id="donut-chart6"></canvas>
    </div>
    <div class="col-2" >
        <div class="btn-group" role="group" aria-label="Horizontal Button Group">
            <button (click)="editar.pre_open_grafico('grafico',datos[6].id, datos[6].titulo, datos[6].etiqueta, datos[6].porcentaje, datos[6].color_Fondo, datos[6].color_Borde)" type="button" class="btn btn-default gra_Edicion" id="gra_Edicion-6" style="display: none;" >
                <i class="bi bi-pencil" [title]="'Editar los datos'"></i>
            </button>
            <button (click)="borrar.pre_open('grafico',datos[6].id, datos[6].titulo)" type="button" class="btn btn-default gra_Borrado" id="gra_Borrado-6" style="display: none;">
                <i class="bi bi-x-circle" [title]="'Borrar los datos'"></i>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div id="grafico7" class="col-4" style="display: none;">
        <canvas id="donut-chart7"></canvas>
    </div>    
    <div class="col-2" >
        <div class="btn-group" role="group" aria-label="Horizontal Button Group">
            <button (click)="editar.pre_open_grafico('grafico',datos[7].id, datos[7].titulo, datos[7].etiqueta, datos[7].porcentaje, datos[7].color_Fondo, datos[7].color_Borde)" type="button" class="btn btn-default gra_Edicion" id="gra_Edicion-7" style="display: none;" >
                    <i class="bi bi-pencil" [title]="'Editar los datos'"></i>
            </button>
            <button (click)="borrar.pre_open('grafico',datos[7].id, datos[7].titulo)" type="button" class="btn btn-default gra_Borrado" id="gra_Borrado-7" style="display: none;">
                <i class="bi bi-x-circle" [title]="'Borrar los datos'"></i>
            </button>
        </div>
    </div>

    <div id="grafico8" class="col-4" style="display: none;">
        <canvas id="donut-chart8"></canvas>
    </div>
    <div class="col-2" >
        <div class="btn-group" role="group" aria-label="Horizontal Button Group">
            <button (click)="editar.pre_open_grafico('grafico',datos[8].id, datos[8].titulo, datos[8].etiqueta, datos[8].porcentaje, datos[8].color_Fondo, datos[8].color_Borde)" type="button" class="btn btn-default gra_Edicion" id="gra_Edicion-8" style="display: none;" >
                <i class="bi bi-pencil" [title]="'Editar los datos'"></i>
            </button>
            <button (click)="borrar.pre_open('grafico',datos[8].id, datos[8].titulo)" type="button" class="btn btn-default gra_Borrado" id="gra_Borrado-8" style="display: none;">
                <i class="bi bi-x-circle" [title]="'Borrar los datos'"></i>
            </button>
        </div>
    </div>
</div>
</div>