<select #anios name="anio" id="anios">
    <option value="1960">1960</option> 
    <option value="1961">1961</option> 
    <option value="1962"></option> 
    <option value="1963"></option> 
    <option value="1964"></option> 
    <option value="1965"></option> 
    <option value="1966"></option> 
    <option value="1967"></option> 
    <option value="1968"></option> 
    <option value="1969"></option> 
    <option value="1970"></option> 
    <option value="1971"></option> 
    <option value="1972"></option> 
    <option value="1973"></option> 
    <option value="1974"></option> 
    <option value="1975"></option> 
    <option value="1976"></option> 
    <option value="1977"></option> 
    <option value="1978"></option> 
    <option value="1979"></option> 
    <option value="1980"></option> 
    <option value="1981"></option> 
    <option value="1982"></option> 
    <option value="1983"></option> 
    <option value="1984"></option> 
    <option value="1985"></option> 
    <option value="1986"></option> 
    <option value="1987"></option> 
    <option value="1988"></option> 
    <option value="1989"></option> 
    <option value="1990"></option> 
    <option value="1991"></option> 
    <option value="1992"></option> 
    <option value="1993"></option> 
    <option value="1994"></option> 
    <option value="1995"></option> 
    <option value="1996"></option> 
    <option value="1997"></option> 
    <option value="1998"></option> 
    <option value="1999"></option> 
    <option value="2000"></option> 
    <option value="2001"></option> 
    <option value="2002"></option> 
    <option value="2003"></option> 
    <option value="2004"></option> 
    <option value="2005"></option> 
    <option value="2006"></option> 
    <option value="2007"></option> 
    <option value="2008"></option> 
    <option value="2009"></option> 
    <option value="2010"></option> 
    <option value="2011"></option> 
    <option value="2012"></option> 
    <option value="2013"></option> 
    <option value="2014"></option> 
    <option value="2015"></option> 
    <option value="2016"></option> 
    <option value="2017"></option> 
    <option value="2018"></option> 
    <option value="2019"></option> 
    <option value="2020"></option> 
    <option value="2021"></option> 
    <option value="2022"></option> 
    <option value="2023"></option> 
    <option value="2024"></option> 
    <option value="2025"></option> 
    <option value="2026"></option> 
    <option value="2027"></option> 
    <option value="2028"></option> 
    <option value="2029"></option> 
    <option value="2030"></option> 
    <option value="2031"></option> 
    <option value="2032"></option> 
    <option value="2033"></option> 
    <option value="2034"></option> 
    <option value="2035"></option> 
    <option value="2036"></option> 
    <option value="2037"></option> 
    <option value="2038"></option> 
    <option value="2039"></option> 
    <option value="2040"></option> 
    <option value="2041"></option> 
    <option value="2042"></option> 
    <option value="2043"></option> 
    <option value="2044"></option> 
    <option value="2045"></option> 
    <option value="2046"></option> 
    <option value="2047"></option> 
    <option value="2048"></option> 
    <option value="2049"></option> 
    <option value="2050"></option> 
</select>
