<select #provincias name="provincia" id="provincias" (change)="elegido(provincias.value)" class="form-select color">
    <ng-container *ngIf = "pais==='Argentina'">
        <option value=""></option>
        <option value="Buenos Aires">Buenos Aires</option>
        <option value="C.A.B.A.">C.A.B.A.</option>
        <option value="Catamarca">Catamarca</option>
        <option value="Chaco">Chaco</option>	
        <option value="Chubut">Chubut</option>
        <option value="Córdoba">Córdoba</option>
        <option value="Corrientes">Corrientes</option>
        <option value="Entre Ríos">Entre Ríos</option>
        <option value="Formosa">Formosa</option>	
        <option value="Jujuy">Jujuy</option>	
        <option value="La Pampa">La Pampa</option>	
        <option value="La Rioja">La Rioja</option>	
        <option value="Mendoza">Mendoza</option>	
        <option value="Misiones">Misiones</option>	
        <option value="Neuquén">Neuquén</option>	
        <option value="Río Negro">Río Negro</option>	
        <option value="Salta">Salta</option>	
        <option value="San Juan">San Juan</option>	
        <option value="San Luis">San Luis</option>	
        <option value="Santa Cruz">Santa Cruz</option>	
        <option value="Santa Fe">Santa Fe</option>	
        <option value="Santiago del Estero">Santiago del Estero</option>	
        <option value="Tierra del Fuego">Tierra del Fuego</option>	
        <option value="Tucumán">Tucumán</option>	
    </ng-container>
    <ng-container *ngIf = "pais!='Argentina'">
        <option value="No Aplica">No Aplica</option>	
    </ng-container>

</select>