
  <ng-template #mdl_borrar let-modal >
      <div class="modal-header">
      <h4  class="modal-title" id="modal-basic-title"  ><b> {{titulo}}</b></h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
        <p>Esta por borrar el siguiente registro, ¿Esta seguro?</p>
  
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-dark" (click)="borrar_registro()" (click)="modal.close('Save click')">Aceptar</button>
    </div>
</ng-template>
