<ng-template #mdl_editar let-modal >
    <div class="modal-header">
    <h4  class="modal-title" id="modal-basic-title"  ><b> {{titulo}}</b></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">

    <ng-container *ngIf = "quien_llama==='acerca_de'" >
      <div class="form-group" >
        <label for="texto"> <b> Acerca de: </b></label>
        <br>
        <textarea name="texto" id="" cols="100" rows="4" value={{texto_aux}}></textarea>
      </div>
    </ng-container>


    <ng-container *ngIf = "quien_llama==='nombre'" >
      <div class="form-group" >
        <label for="texto"> <b> Nombre y Apellido: </b></label>
        <br>
        <textarea name="texto" id="" cols="50" rows="1" value={{nombre_apellido}}></textarea>
        <br>
        <label for="texto"> <b> Cargo Actual: </b></label>
        <br>
        <textarea name="texto" id="" cols="100" rows="2" value={{cargo_actual}}></textarea>
        <br>
        <label for="texto"> <b> Pais: </b></label>
        <br>
        <textarea name="texto" id="" cols="50" rows="1" value={{pais}}></textarea>
        <app-editar [paises]="paises"></app-editar>
        <app-paises #paises ></app-paises>
        <br>
        <label for="texto"> <b> Provincia: </b></label>
        <br>
        <textarea name="texto" id="provincia" cols="50" rows="1" value={{provincia}}></textarea>
      </div>
    </ng-container>
    <br>
    <p>Esta por modificar el siguiente registro, ¿Esta seguro?</p>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">Cancelar</span>
    </button>
    <button type="button" class="btn btn-dark" (click)="editar_registro()" (click)="modal.close('Save click')">Modificar</button>
  </div>
</ng-template>

