<ng-template #mdl_editar let-modal >
    <div class="modal-header">
    <h4  class="modal-title" id="modal-basic-title" style="text-transform: uppercase"><b> {{titulo}}</b></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">

    
    <ng-container *ngIf = "quien_llama==='nombre' || quien_llama==='experiencia' || quien_llama==='educacion' || quien_llama==='foto' || quien_llama==='banner'" >
      <div class="form-group" >
        <label for="texto"> <b> Imagen: </b></label>
        <br>
        <img class="img-thumbnail" id="imagen" src={{imagen}} />
        <label style="text-indent: 20pt;">
          <textarea (input)="cambiar_imagen(path_imagen.value)" name="texto" #path_imagen id="path_imagen" cols="50" rows="1" value={{imagen}} ></textarea>  
        </label>
      </div>
      <hr>
    </ng-container>

    <ng-container *ngIf = "quien_llama==='acerca_de'" >
      <div class="form-group" >
        <label for="texto"> <b> Acerca de: </b></label>
        <br>
        <textarea name="texto" id="" cols="100" rows="4" value={{texto_aux}}></textarea>
      </div>
    </ng-container>


    <ng-container *ngIf = "quien_llama==='nombre'" >
      <div class="form-group" >
        <label for="texto"> <b> Nombre y Apellido: </b></label>
        <br>
        <input name="texto" id="" cols="50" rows="1" value={{nombre_apellido}}>
        <br>
        <label for="texto"> <b> Cargo Actual: </b></label>
        <br>
        <textarea name="texto" id="" cols="100" rows="2" value={{cargo_actual}}></textarea>
        <br>
      </div>
    </ng-container>


    <ng-container *ngIf = "quien_llama==='educacion'" >
      <div class="form-group" >
        <label for="texto"> <b> Titulo: </b></label>
        <textarea name="texto" id="" cols="100" rows="1" value={{titulo_aux}}></textarea>
        <br>
      </div>
    </ng-container>

    <ng-container *ngIf = "quien_llama==='experiencia'" >
      <div class="form-group" >
        <label for="texto"> <b> Tareas realizadas: </b></label>
        <textarea name="texto" id="" cols="100" rows="4" value={{texto_aux}}></textarea>
        <br>
      </div>
    </ng-container>
    
    <ng-container *ngIf = "quien_llama==='experiencia' || quien_llama==='educacion'" >
      <div class="form-group" >
        <label for="texto"> <b> Institución: </b></label>
        <br>
        <textarea name="texto" id="" cols="100" rows="1" value={{institucion}}></textarea>
        <label for="texto"> <b> Periodo: </b></label>
        <br>
        <label for="texto"> <b> Desde</b></label>
        <label for="texto" style="text-indent: 50pt;"> <b> Hasta </b></label>
        <br>
        <app-anios [anio]="desde" (valueChange)='recibe_desde($event)'></app-anios>
        <label style="text-indent: 40pt;"> <app-anios [anio]="hasta" (valueChange)='recibe_hasta($event)'></app-anios></label>
        <br>
      </div>
    </ng-container>


    <ng-container *ngIf = "quien_llama==='nombre' || quien_llama==='experiencia'" >
      <div class="form-group" >
        <label for="texto"> <b> Pais: </b></label> <label style="text-indent: 240pt;" for="texto"> <b> Provincia: </b></label>
        <br>
        <textarea hidden value={{id_pais}}></textarea> <textarea hidden value={{id_provincia}}></textarea>
        <app-paises [id_pais]="id_pais" (valueChange)='recibe_pais($event)' ></app-paises> 
        <label style="text-indent: 40pt;"><app-provincias [id_provincia]="id_provincia" [id_pais]="id_pais" (valueChange)='recibe_provincia($event)'></app-provincias></label>
      </div>
      </ng-container>
      <br>

      <p id="alerta"> <b> Esta por modificar el siguiente registro, ¿Esta seguro?</b></p>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">Cancelar</span>
    </button>
    <button type="button" class="btn btn-dark" (click)="editar_registro()" (click)="modal.close('Save click')">Modificar</button>
  </div>
</ng-template>

