
<div class="card form-control"> 

    <h4 class="subtitulo">Educación</h4>
<br>

<section class="row">
    <div class="col-10">
    </div>
    <div class="col-2">
        <button (click)="alta.pre_open_educacion()" type="button" class="btn btn-default exp_Edicion"  id="edu_Alta" style="display: none;">
            <i class="bi bi-plus-square" [title]="'Alta de Nuevo Registro'"></i>
        </button>
    </div>
</section>


<div *ngFor="let educacion of educacion" >


    <section class="row">
        <div class="col-2">
<!--            <img class="img-thumbnail" src={{educacion.imagen}} /> -->
            <img class="img-thumbnail" src={{educacion.institucion.link_icono}} /> 
        </div>
        <div class="col-8">
            <b>{{ educacion.institucion.institucion }}</b><br>
            {{ educacion.titulo.titulo }}<br>
            {{ educacion.desde}} - {{ educacion.hasta}}<br>
        </div>
        <div class="col" >
            <div class="btn-group" role="group" aria-label="Horizontal Button Group">
<!--                <button (click)="editar.pre_open_educacion('educacion',educacion.id, educacion.instituciones[0].link_icono, educacion.titulo.titulo, educacion.instituciones[1].institucion, educacion.desde, educacion.hasta)" type="button" class="btn btn-default edu_Edicion" id="edu_Edicion-{{educacion.id}}" style="display: none;" >-->
                <button (click)="editar.pre_open_educacion('educacion',educacion.id, educacion.institucion.link_icono, educacion.titulo.titulo, educacion.titulo.id, educacion.institucion.institucion, educacion.institucion.id, educacion.desde, educacion.hasta)" type="button" class="btn btn-default edu_Edicion" id="edu_Edicion-{{educacion.id}}" style="display: none;" >
                    <i class="bi bi-pencil" [title]="'Editar los datos'"></i>
                </button>
                <button (click)="borrar.pre_open('educacion',educacion.id,educacion.titulo.titulo, educacion)" type="button" class="btn btn-default edu_Borrado" id="edu_Borrado-{{educacion.id}}" style="display: none;">
                    <i class="bi bi-x-circle" [title]="'Borrar los datos'"></i>
                </button>
            </div>
        </div>
        <div class="col-12" id="separador"><p></p></div>
    </section>
</div>
</div>
<hr>
