
<div *ngFor="let banner of banner" >
    <section class="row" >
        <div class="col-12" style="height: 500px"  >
        <img src= {{banner.banner}}  style="margin-top: 0px " />
<!--        <button type="button" class="btn btn-default ban_Edicion" id="ban_Edicion{{banner.id}}" style="display: none; margin-top: -870px">-->
          <button type="button" class="btn btn-default ban_Edicion" id="ban_Edicion-1" style="display: none;">
            <!--          <span style="font-size: 150%; color: white; ">  <i class="bi bi-camera-fill"></i> </span>-->
          <span style="font-size: 150%; color: white; ">  <i class="bi bi-camera-fill"></i> </span>
        </button>
        <img src={{banner.foto}} class="rounded-circle" style="margin-top: -150px;margin-left: 50px;"/>
        <button type="button" class="btn btn-default fot_Edicion" id="fot_Edicion-1" style="display: none; margin-top: -70px;margin-left: -40px;">
            <span style="font-size: 150%;" >  <i class="bi bi-camera-fill"></i> </span>
        </button>

        </div>
    </section>
</div>
