<select #color name="color" id="color" (change)="elegido(color.value)" >
    <option value="NO" style="color:black; background-color:yellow "     >Amarillo</option>
    <option value="SI" style="color:black; background-color:lightgreen " >Verde Claro</option>
    <option value="SI" style="color:black; background-color:green "      >Verde</option>
    <option value="NO" style="color:black; background-color:lightblue "  >Azul Claro</option>
    <option value="NO" style="color:black; background-color:blue "       >Azul</option>
    <option value="SI" style="color:black; background-color:blueviolet " >Violeta</option>
    <option value="SI" style="color:black; background-color:pink "       >Rosa</option>
    <option value="SI" style="color:black; background-color:brown "      >Marron</option>
    <option value="NO" style="color:black; background-color:red "        >Rojo</option>
    <option value="NO" style="color:black; background-color:orange "     >Naranja</option>
</select>
