<select #color name="color" id="color" (change)="elegido(color.value)" class="form-select" >
    <option selected value="white" style="color:black; background-color:white "  > N/A  </option>
    <option value="yellow" style="color:black; background-color:yellow "         >Amarillo</option>
    <option value="lightgreen" style="color:black; background-color:lightgreen " >Verde Claro</option>
    <option value="green" style="color:black; background-color:green "           >Verde</option>
    <option value="lightblue" style="color:black; background-color:lightblue "   >Azul Claro</option>
    <option value="blue" style="color:black; background-color:blue "             >Azul</option>
    <option value="blueviolet" style="color:black; background-color:blueviolet " >Violeta</option>
    <option value="pink" style="color:black; background-color:pink "             >Rosa</option>
    <option value="brown" style="color:black; background-color:brown "           >Marron</option>
    <option value="red" style="color:black; background-color:red "               >Rojo</option>
    <option value="orange" style="color:black; background-color:orange "         >Naranja</option>
</select>
