<!-- <a [routerLink]="['/']"></a>-->
<div class="row">
    <div class="col-5">
        <canvas id="donut-chart4"></canvas>
    </div>    

    <div class="col-5">
        <canvas id="donut-chart5"></canvas>
    </div>
</div> 



<div class="row">
    <div class="col-5">
        <div *ngFor="let grafico of grafico; " style="display: inline;">
            <canvas id="chart{{grafico.id}}" ></canvas>
            {{this.graficar(grafico.id, grafico.titulo, grafico.etiqueta, grafico.porcentaje, grafico.color_Fondo, grafico.color_Borde)}}    
        </div>
    </div>

</div>
