
<div class="row">
    <div id="grafico1" class="col-4" style="display: none;">
        <canvas id="donut-chart1"></canvas>
    </div>    
    <div class="col-2" >
        <div class="btn-group" role="group" aria-label="Horizontal Button Group">
            <button (click)="editar.pre_open_grafico('grafico',id, titulo, etiqueta, porcentaje, color_Fondo, color_Borde)" type="button" class="btn btn-default gra_Edicion" id="gra_Edicion-1" style="display: none;" >
                    <i class="bi bi-pencil" [title]="'Editar los datos'"></i>
            </button>
            <button (click)="borrar.pre_open('grafico',id, titulo)" type="button" class="btn btn-default gra_Borrado" id="gra_Borrado-1" style="display: none;">
                <i class="bi bi-x-circle" [title]="'Borrar los datos'"></i>
            </button>
        </div>
    </div>

    <div id="grafico2" class="col-4" style="display: none;">
        <canvas id="donut-chart2"></canvas>
    </div>
    <div class="col-2" >
        <div class="btn-group" role="group" aria-label="Horizontal Button Group">
            <button (click)="editar.pre_open_grafico('grafico',id, titulo, etiqueta, porcentaje, color_Fondo, color_Borde)" type="button" class="btn btn-default gra_Edicion" id="gra_Edicion-2" style="display: none;" >
                <i class="bi bi-pencil" [title]="'Editar los datos'"></i>
            </button>
            <button (click)="borrar.pre_open('grafico',id, titulo)" type="button" class="btn btn-default gra_Borrado" id="gra_Borrado-2" style="display: none;">
                <i class="bi bi-x-circle" [title]="'Borrar los datos'"></i>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div id="grafico3" class="col-4" style="display: none;">
        <canvas id="donut-chart3"></canvas>
    </div>    
    <div class="col-2" >
        <div class="btn-group" role="group" aria-label="Horizontal Button Group">
            <button (click)="editar.pre_open_grafico('grafico',id, titulo, etiqueta, porcentaje, color_Fondo, color_Borde)" type="button" class="btn btn-default gra_Edicion" id="gra_Edicion-3" style="display: none;" >
                    <i class="bi bi-pencil" [title]="'Editar los datos'"></i>
            </button>
            <button (click)="borrar.pre_open('grafico',id, titulo)" type="button" class="btn btn-default gra_Borrado" id="gra_Borrado-3" style="display: none;">
                <i class="bi bi-x-circle" [title]="'Borrar los datos'"></i>
            </button>
        </div>
    </div>

    <div id="grafico4" class="col-4" style="display: none;">
        <canvas id="donut-chart4"></canvas>
    </div>
    <div class="col-2" >
        <div class="btn-group" role="group" aria-label="Horizontal Button Group">
            <button (click)="editar.pre_open_grafico('grafico',id, titulo, etiqueta, porcentaje, color_Fondo, color_Borde)" type="button" class="btn btn-default gra_Edicion" id="gra_Edicion-4" style="display: none;" >
                <i class="bi bi-pencil" [title]="'Editar los datos'"></i>
            </button>
            <button (click)="borrar.pre_open('grafico',id, titulo)" type="button" class="btn btn-default gra_Borrado" id="gra_Borrado-4" style="display: none;">
                <i class="bi bi-x-circle" [title]="'Borrar los datos'"></i>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div id="grafico5" class="col-4" style="display: none;">
        <canvas id="donut-chart5"></canvas>
    </div>    
    <div class="col-2" >
        <div class="btn-group" role="group" aria-label="Horizontal Button Group">
            <button (click)="editar.pre_open_grafico('grafico',id, titulo, etiqueta, porcentaje, color_Fondo, color_Borde)" type="button" class="btn btn-default gra_Edicion" id="gra_Edicion-5" style="display: none;" >
                    <i class="bi bi-pencil" [title]="'Editar los datos'"></i>
            </button>
            <button (click)="borrar.pre_open('grafico',id, titulo)" type="button" class="btn btn-default gra_Borrado" id="gra_Borrado-5" style="display: none;">
                <i class="bi bi-x-circle" [title]="'Borrar los datos'"></i>
            </button>
        </div>
    </div>

    <div id="grafico6" class="col-4" style="display: none;">
        <canvas id="donut-chart6"></canvas>
    </div>
    <div class="col-2" >
        <div class="btn-group" role="group" aria-label="Horizontal Button Group">
            <button (click)="editar.pre_open_grafico('grafico',id, titulo, etiqueta, porcentaje, color_Fondo, color_Borde)" type="button" class="btn btn-default gra_Edicion" id="gra_Edicion-6" style="display: none;" >
                <i class="bi bi-pencil" [title]="'Editar los datos'"></i>
            </button>
            <button (click)="borrar.pre_open('grafico',id, titulo)" type="button" class="btn btn-default gra_Borrado" id="gra_Borrado-6" style="display: none;">
                <i class="bi bi-x-circle" [title]="'Borrar los datos'"></i>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div id="grafico7" class="col-4" style="display: none;">
        <canvas id="donut-chart7"></canvas>
    </div>    
    <div class="col-2" >
        <div class="btn-group" role="group" aria-label="Horizontal Button Group">
            <button (click)="editar.pre_open_grafico('grafico',id, titulo, etiqueta, porcentaje, color_Fondo, color_Borde)" type="button" class="btn btn-default gra_Edicion" id="gra_Edicion-7" style="display: none;" >
                    <i class="bi bi-pencil" [title]="'Editar los datos'"></i>
            </button>
            <button (click)="borrar.pre_open('grafico',id, titulo)" type="button" class="btn btn-default gra_Borrado" id="gra_Borrado-7" style="display: none;">
                <i class="bi bi-x-circle" [title]="'Borrar los datos'"></i>
            </button>
        </div>
    </div>

    <div id="grafico8" class="col-4" style="display: none;">
        <canvas id="donut-chart8"></canvas>
    </div>
    <div class="col-2" >
        <div class="btn-group" role="group" aria-label="Horizontal Button Group">
            <button (click)="editar.pre_open_grafico('grafico',id, titulo, etiqueta, porcentaje, color_Fondo, color_Borde)" type="button" class="btn btn-default gra_Edicion" id="gra_Edicion-8" style="display: none;" >
                <i class="bi bi-pencil" [title]="'Editar los datos'"></i>
            </button>
            <button (click)="borrar.pre_open('grafico',id, titulo)" type="button" class="btn btn-default gra_Borrado" id="gra_Borrado-8" style="display: none;">
                <i class="bi bi-x-circle" [title]="'Borrar los datos'"></i>
            </button>
        </div>
    </div>
</div>
