<!-- <a [routerLink]="['/']"></a>-->
<div class="row">
    <div class="col-5">
        <canvas id="donut-chart4"></canvas>
    </div>    

    <div class="col-5">
        <canvas id="donut-chart5"></canvas>
    </div>
</div> 
<div *ngFor="let grafico of grafico; let indexOfelement=index;" [class.selected]="graficar(grafico.id, grafico.titulo, grafico.etiqueta, grafico.porcentaje, grafico.color_Fondo, grafico.color_Borde)" >
    'chart'+{{indexOfelement}}

    <canvas id= "chart"></canvas> 

</div>
