
<script src="https://cdn.jsdelivr.net/npm/chart.js@latest/dist/Chart.min.js"></script>
            <!-- Content -->
            <header class="container">
              <!--Redes-->
              <section class="row">
                    <div class="col-2">
                        <img class="img-thumbnail" src="assets/Argentina_Programa.png" width="70%" />
                    </div>

                    <div class="col-6"></div>

                    <div class="col-3" >
                        <!-- Redes Sociales -->
                        <app-redes></app-redes>
                    </div>
                    <div class="col-1">
                        <!--Boton Login -->
                        <app-login></app-login>
                    </div>
            </section>
              <!--Banner y Foto -->

              <app-banner></app-banner>
          </header>


          <main class="container">
              <!-- Acerca de-->

              <app-acerca-de [borrar]="borrar" [editar]="editar"></app-acerca-de>
              <app-borrar #borrar></app-borrar>
              <app-editar #editar ></app-editar>
              <app-paises #paises ></app-paises>

              <!-- Experiencia-->
              <h4 class="subtitulo">Experiencia</h4>

              <app-experiencia [borrar]="borrar"></app-experiencia>
              <app-borrar #borrar></app-borrar>

              <!-- Educacion-->
              <h4 class="subtitulo">Educación</h4>

              <app-educacion [borrar]="borrar"></app-educacion>
              <app-borrar #borrar></app-borrar>

              <!-- Hard & Soft Skills-->
              <h4 class="subtitulo">Hard & Soft Skills</h4>

              <app-graficos-donuts></app-graficos-donuts>

              <hr/>

              <!-- Proyectos-->
              <h4 class="subtitulo">Proyectos</h4>

              <hr/>


          </main>

          <!-- Pie de Pagina -->

          <app-pie-pagina></app-pie-pagina>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
