
<script src="https://cdn.jsdelivr.net/npm/chart.js@latest/dist/Chart.min.js"></script>
            <!-- Content -->
            <header class="container">
              <!--Redes-->
              <section class="row">
                    <div class="col-3">
                        <img src="assets/Argentina_Programa.png" />
                    </div> 

                    <div class="col-6"></div>

                    <div class="col-2" >
                        <!-- Redes Sociales -->
                        <app-redes></app-redes>
                    </div>


                  <div class="col-1">
  <!--                    <button id="btn_Login" onclick="boton_Login(event)" type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#login">-->
                      <button id="btn_Login" onclick="boton_Login(event)" type="button" class="btn btn-dark">
                      </button>                    
                  </div>
              </section>  
              <!--Banner--> 
          
              <app-banner></app-banner>
          </header>
  
  
          <main class="container">
              <!-- Acerca de-->

              <app-acerca-de></app-acerca-de>

              <!-- Experiencia-->
              <h4 class="subtitulo">Experiencia</h4>

              <app-experiencia></app-experiencia>

              <!-- Educacion-->
              <h4 class="subtitulo">Educación</h4>

              <app-educacion></app-educacion>
  
              <!-- Hard & Soft Skills-->
              <h4 class="subtitulo">Hard & Soft Skills</h4>

              <app-graficos-donuts></app-graficos-donuts>
  
              <hr/>
  
              <!-- Proyectos-->
              <h4 class="subtitulo">Proyectos</h4>
  
              <hr/>
  
  <!--            <div class="modal fade" id="login" role="dialog" tabindex="-1" aria-labelledby="loginLabel" aria-hidden="true">-->
      <div class="modal" id="login" role="dialog" tabindex="-1">
          <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginLabel">Modo de Edición</h5>
            <button id="btn_Login_Close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
                  <div class="modal-body">
                      <form onsubmit="verificar_Mail_Clave(event)">
                          <div class="form-group">
                              <label for="correo">Correo</label>
                              <input id="correo" name="correo"
                                  class="form-control" type="email"
                                  placeholder="Correo electrónico">
                          </div>
                          <div class="form-group">
                              <label for="palabraSecreta">Contraseña</label>
                              <input id="palabraSecreta" name="palabraSecreta"
                                  class="form-control" type="password"
                                  placeholder="Contraseña">
                          </div>
                          <button type="submit" class="btn btn-primary mb-2" style="margin-top: 10px"  >
                              Entrar
                          </button>
                          <br>
                          <a href="#">Contraseña olvidada</a>
                      </form>
              </div>
        </div>
      </div>
    </div>

          </main>

          <!-- Pie de Pagina -->

          <app-pie-pagina></app-pie-pagina>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  