@import "~bootstrap-icons/font/bootstrap-icons.css";

#alerta{
    color: red;
 }

 textarea{
    background-color:rgb(220, 231, 235);
    resize: none; 
}
input{
    background-color:rgb(220, 231, 235);
}