<ng-template #mdl_editar let-modal >
    <div class="modal-header">
    <h4  class="modal-title" id="modal-basic-title" style="text-transform: uppercase"><b> {{titulo}}</b></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">

    <ng-container *ngIf = "quien_llama==='redes'" >
      <div *ngFor="let redes of redes" >

        <section class="row">
          <div class="col-1">
            <i class={{redes.icono}} [title]=redes.nombre style="font-size:200%"></i>
          </div>

          <div class="col-8">
            <label for="texto"> <b> Link: </b></label>
            <br>
            <textarea class="form-control" name="texto" id="" cols="100" rows="1" value={{redes.link}}></textarea>
          </div>
          <div class="col-3">
            <label for="texto"> <b> Estado: </b></label>
            <br>
<!--            <app-habilitar [habilitado]= redes.habilitado (valueChange)='recibe_habilitado($event)' ></app-habilitar> -->
          </div>

        <br>
        <br>
        </section>  
      </div>  
    </ng-container>

    <ng-container *ngIf = "quien_llama==='configurar'" >
      <div class="form-group" >
       
          <label for="correo">Correo / Usuario</label>
          <input #correo name="correo"
              class="form-control" type="email"
              placeholder="Correo electrónico">
          <label for="palabraSecreta">Contraseña</label>
          <input #palabraSecreta_1 name="palabraSecreta"
              class="form-control" type="password"
              placeholder="Contraseña">
        <label for="palabraSecreta">Reingrese la contraseña</label>
        <input #palabraSecreta_2 name="palabraSecreta"
            class="form-control" type="password"
            placeholder="Contraseña">
        <label for="texto" >URL del servidor de imagenes</label>
        <br>
        <textarea (input) ="cambiar_imagen(path_imagen.value)" name="texto" #path_imagen class="form-control" id="path_imagen" cols="60" rows="1" value={{servidor_img}} ></textarea>  
  
      </div>
      <hr>
    </ng-container>
    
    <!-- Muestra y permite cambiar las imagenes -->
    <ng-container *ngIf = "quien_llama==='nombre' || quien_llama==='experiencia' || quien_llama==='educacion' || quien_llama==='foto' || quien_llama==='banner'  || quien_llama==='proyectos'" >
      <div class="form-group" >
        <label for="texto"> <b> Imagen: </b></label>
        <br>
        <img class="img-thumbnail" id="imagen" src={{imagen}} />
      </div>
      <hr>
    </ng-container>

    <ng-container *ngIf = "quien_llama==='acerca_de'" >
      <div class="form-group" >
        <label for="texto"> <b> Acerca de: </b></label>
        <br>
        <textarea class="form-control" name="acerca_de" id="acerca" cols="100" rows="4" value={{texto_aux}}></textarea>
      </div>
    </ng-container>


    <ng-container *ngIf = "quien_llama==='nombre'" >
      <div class="form-group" >
        <label for="texto"> <b> Nombre y Apellido: </b></label>
        <br>
        <textarea class="form-control" name="texto" id="nombre_" cols="10" rows="1" value={{nombres}}></textarea> 
        <textarea class="form-control" name="texto" id="apellido_" cols="10" rows="1" value={{apellidos}}></textarea>  
        <br>
        <label for="texto"> <b> Cargo Actual: </b></label>
        <br>
        <textarea class="form-control" name="texto" id="cargo" cols="100" rows="2" value={{cargo_actual}}></textarea>
        <br>
      </div>
    </ng-container>


    <ng-container *ngIf = "quien_llama==='educacion'" >
      <div class="form-group" >
        <label for="texto"> <b> Titulo: </b></label>
        <app-titulo [id_titulo]="id_titulo" (valueChange)='recibe_titulo($event)'></app-titulo>
        <br>
      </div>
    </ng-container>

    <ng-container *ngIf = "quien_llama==='proyectos'" >
      <div class="form-group" >
        <label for="texto"> <b> Proyecto: </b></label>
        <textarea class="form-control" name="texto" id="proyecto" cols="100" rows="1" value={{titulo_aux}}></textarea>
        <br>
      </div>
    </ng-container>

    <ng-container *ngIf = "quien_llama==='experiencia'" >
      <div class="form-group" >
        <label for="texto"> <b> Tareas realizadas: </b></label>
        <textarea class="form-control" name="texto" id="tareas" cols="100" rows="4" value={{texto_aux}}></textarea>
        <br>
      </div>
    </ng-container>
    
    <ng-container *ngIf = "quien_llama==='experiencia' || quien_llama==='educacion'  || quien_llama==='proyectos'" >
      <div class="form-group" >
        <label for="texto"> <b> Institución: </b></label>
        <br>
        <app-institucion [id_institucion]="id_institucion" (valueChange)='recibe_institucion($event)'></app-institucion>
<!--        <textarea class="form-control" name="texto" id="" cols="100" rows="1" value={{institucion}}></textarea>-->
        <label for="texto"> <b> Periodo: </b></label>
        <br>

        <section class="row">
          <div class="col-2">
            <label for="texto"> <b> Desde</b></label>
          </div >
          <div class="col-2">
            <label for="texto"> <b> Hasta </b></label>
          </div >
        </section>  

        <section class="row">
          <div class="col-2">
            <app-anios [anio]="desde" (valueChange)='recibe_desde($event)'></app-anios>
          </div >
          <div class="col-2">
            <app-anios [anio]="hasta" (valueChange)='recibe_hasta($event)'></app-anios>
          </div >
        </section>  
        <br>
      </div>
    </ng-container>


    <ng-container *ngIf = "quien_llama==='nombre' || quien_llama==='experiencia'" >
      <div class="form-group" >


        <section class="row">
          <div class="col-4">
            <label for="texto"> <b> Pais</b></label>
          </div >
          <div class="col-4">
            <label for="texto"> <b> Provincia </b></label>
          </div >
        </section>  


        <section class="row">
          <div class="col-4">
            <textarea id="pais"  hidden value={{pais}}></textarea> <textarea id="provincia" hidden value={{provincia}}></textarea>
            <app-paises [pais]="pais" (valueChange)='recibe_pais($event)' ></app-paises> 
          </div >
          <div class="col-4">
            <label ><app-provincias [provincia]="provincia" [pais]="pais" (valueChange)='recibe_provincia($event)'></app-provincias></label>
          </div >
        </section>  
        <br>


<!--
        <label for="texto"> <b> Pais: </b></label> <label style="text-indent: 240pt;" for="texto"> <b> Provincia: </b></label>
        <br>
        <textarea hidden value={{pais}}></textarea> <textarea hidden value={{provincia}}></textarea>
        <app-paises [pais]="pais" (valueChange)='recibe_pais($event)' ></app-paises> 
        <label style="text-indent: 40pt;"><app-provincias [provincia]="provincia" [pais]="pais" (valueChange)='recibe_provincia($event)'></app-provincias></label>
-->
      </div>
      </ng-container>
      <br>

      <p id="alerta"> <b> Esta por modificar el siguiente registro, ¿Esta seguro?</b></p>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">Cancelar</span>
    </button>
    <button type="button" class="btn btn-dark" (click)="editar_registro(quien_llama)" (click)="modal.close('Save click')">Modificar</button>
  </div>
</ng-template>

