

.font_Redes{
    font-size: small;
};
.subtitulo{
    margin-top: 50px;
};
.article_Experiencia{
    font-size: medium;
};
.article_Educacion{
    font-size: medium;
};
#separador{
    margin-top: 20px;
};
.datos_Personales { 
    margin-top: 20px;
    margin-right: auto;
    margin-left: 500;
};
.formacion_Academica{
    margin-top: 10px;
    margin-right: auto;
    padding: 30px;
    border: 2px;
    border-style: solid;
}
.texto_Pie{
    color: white;
};

.modal {
    display: none; /* Por defecto, estará oculto */
    position: fixed; /* Posición fija */
    z-index: 1; /* Se situará por encima de otros elementos de la página*/
    padding-top: 200px; /* El contenido estará situado a 200px de la parte superior */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Algura completa */
    overflow: auto; /* Se activará el scroll si es necesario */
    background-color: rgba(0,0,0,0.5); /* Color negro con opacidad del 50% */
  };
  
  /* Ventana o caja modal */
  .contenido-modal {
    position: relative; /* Relativo con respecto al contenedor -modal- */
    background-color: white;
    margin: auto; /* Centrada */
    padding: 20px;
    width: 60%;
    -webkit-animation-name: animarsuperior;
    -webkit-animation-duration: 0.5s;
    animation-name: animarsuperior;
    animation-duration: 0.5s
  };

  div #btn_Login{
    display: none;
 };
 
 div > button:before{
   display: block;
   content: Login;
 }
 