

<select #paises name="pais" id="paises" (change)="elegido(paises.value)" class="form-select" >
    <option value="Afganistán">Afganistán</option>
    <option value="Albania">Albania</option>
    <option value="Alemania">Alemania</option>
    <option value="Andorra">Andorra</option>
    <option value="Angola">Angola</option>
    <option value="Anguilla">Anguilla</option>
    <option value="Antártida">Antártida</option>
    <option value="Antigua y Barbuda">Antigua y Barbuda</option>
    <option value="Antillas Holandesas">Antillas Holandesas</option>
    <option value="Arabia Saudí">Arabia Saudí</option>
    <option value="Argelia">Argelia</option>
    <option value="Argentina" selected>Argentina</option>
    <option value="Armenia">Armenia</option>
    <option value="Aruba">Aruba</option>
    <option value="Australia">Australia</option>
    <option value="Austria">Austria</option>
    <option value="Azerbaiyán">Azerbaiyán</option>
    <option value="Bahamas">Bahamas</option>
    <option value="Bahrein">Bahrein</option>
    <option value="Bangladesh">Bangladesh</option>
    <option value="Barbados">Barbados</option>
    <option value="Bélgica">Bélgica</option>
    <option value="Belice">Belice</option>
    <option value="Benin">Benin</option>
    <option value="Bermudas">Bermudas</option>
    <option value="Bielorrusia">Bielorrusia</option>
    <option value="Birmania">Birmania</option>
    <option value="Bolivia">Bolivia</option>
    <option value="Bosnia y Herzegovina">Bosnia y Herzegovina</option>
    <option value="Botswana">Botswana</option>
    <option value="Brasil">Brasil</option>
    <option value="Brunei">Brunei</option>
    <option value="Bulgaria">Bulgaria</option>
    <option value="Burkina Faso">Burkina Faso</option>
    <option value="Burundi">Burundi</option>
    <option value="Bután">Bután</option>
    <option value="Cabo Verde">Cabo Verde</option>
    <option value="Camboya">Camboya</option>
    <option value="Camerún">Camerún</option>
    <option value="Canadá">Canadá</option>
    <option value="Chad">Chad</option>
    <option value="Chile">Chile</option>
    <option value="China">China</option>
    <option value="Chipre">Chipre</option>
    <option value="Ciudad del Vaticano">Ciudad del Vaticano</option>
    <option value="Colombia">Colombia</option>
    <option value="Comores">Comores</option>
    <option value="Congo">Congo</option>
    <option value="Congo, República Democrática del">Congo, República Democrática del</option>
    <option value="Corea">Corea</option>
    <option value="Corea del Norte">Corea del Norte</option>
    <option value="Costa de Marfíl">Costa de Marfíl</option>
    <option value="Costa Rica">Costa Rica</option>
    <option value="Croacia">Croacia</option>
    <option value="Cuba">Cuba</option>
    <option value="Dinamarca">Dinamarca</option>
    <option value="Djibouti">Djibouti</option>
    <option value="Dominica">Dominica</option>
    <option value="Ecuador">Ecuador</option>
    <option value="Egipto">Egipto</option>
    <option value="El Salvador">El Salvador</option>
    <option value="Emiratos Árabes Unidos">Emiratos Árabes Unidos</option>
    <option value="Eritrea">Eritrea</option>
    <option value="Eslovenia">Eslovenia</option>
    <option value="España" >España</option>
    <option value="Estados Unidos">Estados Unidos</option>
    <option value="Estonia">Estonia</option>
    <option value="Etiopía">Etiopía</option>
    <option value="Fiji">Fiji</option>
    <option value="Filipinas">Filipinas</option>
    <option value="Finlandia">Finlandia</option>
    <option value="Francia">Francia</option>
    <option value="Gabón">Gabón</option>
    <option value="Gambia">Gambia</option>
    <option value="Georgia">Georgia</option>
    <option value="Ghana">Ghana</option>
    <option value="Gibraltar">Gibraltar</option>
    <option value="Granada">Granada</option>
    <option value="Grecia">Grecia</option>
    <option value="Groenlandia">Groenlandia</option>
    <option value="Guadalupe">Guadalupe</option>
    <option value="Guam">Guam</option>
    <option value="Guatemala">Guatemala</option>
    <option value="Guayana">Guayana</option>
    <option value="Guayana Francesa">Guayana Francesa</option>
    <option value="Guinea">Guinea</option>
    <option value="Guinea Ecuatorial">Guinea Ecuatorial</option>
    <option value="Guinea-Bissau">Guinea-Bissau</option>
    <option value="Haití">Haití</option>
    <option value="Honduras">Honduras</option>
    <option value="Hungría">Hungría</option>
    <option value="India">India</option>
    <option value="Indonesia">Indonesia</option>
    <option value="Irak">Irak</option>
    <option value="Irán">Irán</option>
    <option value="Irlanda">Irlanda</option>
    <option value="Isla Bouvet">Isla Bouvet</option>
    <option value="Isla de Christmas">Isla de Christmas</option>
    <option value="Islandia">Islandia</option>
    <option value="Islas Caimán">Islas Caimán</option>
    <option value="Islas Cook">Islas Cook</option>
    <option value="Islas de Cocos o Keeling">Islas de Cocos o Keeling</option>
    <option value="Islas Faroe">Islas Faroe</option>
    <option value="Islas Heard y McDonald">Islas Heard y McDonald</option>
    <option value="Islas Malvinas">Islas Malvinas</option>
    <option value="Islas Marianas del Norte">Islas Marianas del Norte</option>
    <option value="Islas Marshall">Islas Marshall</option>
    <option value="Islas menores de Estados Unidos">Islas menores de Estados Unidos</option>
    <option value="Islas Palau">Islas Palau</option>
    <option value="Islas Salomón">Islas Salomón</option>
    <option value="Islas Svalbard y Jan Mayen">Islas Svalbard y Jan Mayen</option>
    <option value="Islas Tokelau">Islas Tokelau</option>
    <option value="Islas Turks y Caicos">Islas Turks y Caicos</option>
    <option value="Islas Vírgenes (EEUU)">Islas Vírgenes (EEUU)</option>
    <option value="Islas Vírgenes (Reino Unido)">Islas Vírgenes (Reino Unido)</option>
    <option value="WF">Islas Wallis y Futuna</option>
    <option value="IL">Israel</option>
    <option value="IT">Italia</option>
    <option value="JM">Jamaica</option>
    <option value="JP">Japón</option>
    <option value="JO">Jordania</option>
    <option value="KZ">Kazajistán</option>
    <option value="KE">Kenia</option>
    <option value="KG">Kirguizistán</option>
    <option value="KI">Kiribati</option>
    <option value="KW">Kuwait</option>
    <option value="LA">Laos</option>
    <option value="LS">Lesotho</option>
    <option value="LV">Letonia</option>
    <option value="LB">Líbano</option>
    <option value="LR">Liberia</option>
    <option value="LY">Libia</option>
    <option value="LI">Liechtenstein</option>
    <option value="LT">Lituania</option>
    <option value="LU">Luxemburgo</option>
    <option value="MK">Macedonia, Ex-República Yugoslava de</option>
    <option value="MG">Madagascar</option>
    <option value="MY">Malasia</option>
    <option value="MW">Malawi</option>
    <option value="MV">Maldivas</option>
    <option value="ML">Malí</option>
    <option value="MT">Malta</option>
    <option value="MA">Marruecos</option>
    <option value="MQ">Martinica</option>
    <option value="MU">Mauricio</option>
    <option value="MR">Mauritania</option>
    <option value="YT">Mayotte</option>
    <option value="MX">México</option>
    <option value="FM">Micronesia</option>
    <option value="MD">Moldavia</option>
    <option value="MC">Mónaco</option>
    <option value="MN">Mongolia</option>
    <option value="MS">Montserrat</option>
    <option value="MZ">Mozambique</option>
    <option value="NA">Namibia</option>
    <option value="NR">Nauru</option>
    <option value="NP">Nepal</option>
    <option value="NI">Nicaragua</option>
    <option value="NE">Níger</option>
    <option value="NG">Nigeria</option>
    <option value="NU">Niue</option>
    <option value="NF">Norfolk</option>
    <option value="NO">Noruega</option>
    <option value="NC">Nueva Caledonia</option>
    <option value="NZ">Nueva Zelanda</option>
    <option value="OM">Omán</option>
    <option value="NL">Países Bajos</option>
    <option value="PA">Panamá</option>
    <option value="PG">Papúa Nueva Guinea</option>
    <option value="PK">Paquistán</option>
    <option value="PY">Paraguay</option>
    <option value="PE">Perú</option>
    <option value="PN">Pitcairn</option>
    <option value="PF">Polinesia Francesa</option>
    <option value="PL">Polonia</option>
    <option value="PT">Portugal</option>
    <option value="PR">Puerto Rico</option>
    <option value="QA">Qatar</option>
    <option value="UK">Reino Unido</option>
    <option value="CF">República Centroafricana</option>
    <option value="CZ">República Checa</option>
    <option value="ZA">República de Sudáfrica</option>
    <option value="DO">República Dominicana</option>
    <option value="SK">República Eslovaca</option>
    <option value="RE">Reunión</option>
    <option value="RW">Ruanda</option>
    <option value="RO">Rumania</option>
    <option value="RU">Rusia</option>
    <option value="EH">Sahara Occidental</option>
    <option value="KN">Saint Kitts y Nevis</option>
    <option value="WS">Samoa</option>
    <option value="AS">Samoa Americana</option>
    <option value="SM">San Marino</option>
    <option value="VC">San Vicente y Granadinas</option>
    <option value="SH">Santa Helena</option>
    <option value="LC">Santa Lucía</option>
    <option value="ST">Santo Tomé y Príncipe</option>
    <option value="SN">Senegal</option>
    <option value="SC">Seychelles</option>
    <option value="SL">Sierra Leona</option>
    <option value="SG">Singapur</option>
    <option value="SY">Siria</option>
    <option value="SO">Somalia</option>
    <option value="LK">Sri Lanka</option>
    <option value="PM">St Pierre y Miquelon</option>
    <option value="SZ">Suazilandia</option>
    <option value="SD">Sudán</option>
    <option value="SE">Suecia</option>
    <option value="CH">Suiza</option>
    <option value="SR">Surinam</option>
    <option value="TH">Tailandia</option>
    <option value="TW">Taiwán</option>
    <option value="TZ">Tanzania</option>
    <option value="TJ">Tayikistán</option>
    <option value="TF">Territorios franceses del Sur</option>
    <option value="TP">Timor Oriental</option>
    <option value="TG">Togo</option>
    <option value="TO">Tonga</option>
    <option value="TT">Trinidad y Tobago</option>
    <option value="TN">Túnez</option>
    <option value="TM">Turkmenistán</option>
    <option value="TR">Turquía</option>
    <option value="TV">Tuvalu</option>
    <option value="UA">Ucrania</option>
    <option value="UG">Uganda</option>
    <option value="UY">Uruguay</option>
    <option value="UZ">Uzbekistán</option>
    <option value="VU">Vanuatu</option>
    <option value="VE">Venezuela</option>
    <option value="VN">Vietnam</option>
    <option value="YE">Yemen</option>
    <option value="YU">Yugoslavia</option>
    <option value="ZM">Zambia</option>
    <option value="ZW">Zimbabue</option>
    </select>
